body {
    background-color: black;
}
 

main, .m-height {
    min-height: 86vh;
}

.bus-sum{
    cursor: pointer;
}

.bus-sum:hover {
    --bs-table-bg: #585858;
}


.leaflet-container {
    height: 60vh;
    width: 70%;
}

.error h3 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
